<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Kim&Park DevLab</h5>
                    <p class="grey-text text-lighten-4">My name is Kim and I am working in Tokyo.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Springboot projects</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/hong-il/springboot-thymeleaf-jpa-crud" target="_blank">Create, Read, Update and Delete</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/hong-il/springboot-thymeleaf-jpa-junit" target="_blank">JUnit Test</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/hong-il/springboot-thymeleaf-jpa-pagination" target="_blank">Pagination</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/hong-il/springboot-thymeleaf-jpa-fragment" target="_blank">Fragment and Layout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a class="grey-text text-lighten-4 right" href="https://github.com/hong-il" target="_blank">More</a>
            </div>
        </div>
    </footer>
</html>